@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark body {
        @apply bg-slate-950 text-slate-200;
    }
}

.dark .bg-white {
    @apply bg-slate-900 !important;
}

.dark .text-gray-900 {
    @apply text-slate-100 !important;
}

.dark .text-gray-800 {
    @apply text-slate-200 !important;
}

.dark .text-gray-700 {
    @apply text-slate-300 !important;
}

.dark .text-gray-600 {
    @apply text-slate-400 !important;
}

.dark .text-gray-500 {
    @apply text-slate-400 !important;
}

.dark .border-gray-100, .dark .border-gray-200 {
    @apply border-slate-800 !important;
}

.dark .bg-gray-50 {
    @apply bg-slate-900 !important;
}
